@import url("https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";

@theme {
  --font-jacquard: "Jacquard 24", system-ui;
  --font-inter: "Inter", system-ui, sans-serif;
  --font-jetbrains: "JetBrains Mono", system-ui, monospace;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: var(--font-jacquard);
}

h2 {
  font-family: var(--font-inter);
}
